<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>
  <div class="content">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button" href="#">Ingresar</ion-button>

    <div class="register-hint">
      <small>¿No tienes una cuenta? Regístrate <a href="#">aquí</a>!</small>
    </div>
    <div class="forgot-password">
      <small>¿Olvidaste la contraseña? Recupera <a href="#">aquí</a>!</small>
    </div>
  </div>
</ion-content>
