<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaura tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background"></div>
  <div class="content">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>

      <ion-button expand="full" class="forgot-button" href="#">Enviar</ion-button>

      <div class="hint">
        <small>
          Por favor, coloca el email que usaste cuando te registraste por primera vez
        </small>
      </div>
    </form>
  </div>
</ion-content>